name: CI Pipeline
on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Java 25
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Run tests
        run: ./mvnw -B test

      - name: Run spotless checks
        run: ./mvnw -B spotless:checks